* {
  box-sizing: border-box;
}

.App {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  font-family: Helvetica, sans-serif;
}
.container {
  background: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
}

.zero-margin {
  margin-right: 0;
  margin-left: 0;
}

.container iframe,
.videoWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.App {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  font-family: Avenir, Helvetica, sans-serif;
}

@media (min-aspect-ratio: 16/9) {
  .videoWrapper {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .videoWrapper {
    width: 300%;
    left: -100%;
  }
}

.spinner {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: -98;
  position: fixed;
  background-image: url("./assets/noise.png");
  background-repeat: repeat;
  animation: shake 0.1s infinite linear alternate;
}

@keyframes shake {
  0% {
    background-position: 10px 200px;
  }

  20% {
    background-position: -50px 0;
  }

  40% {
    background-position: 100px -10px;
  }

  60% {
    background-position: 0 -150px;
  }

  80% {
    background-position: -100px -30px;
  }

  to {
    background-position: 160px -60px;
  }
}
